version: '3.7'
services:
  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8080:8080"
    volumes:
      - ./backend/openapi.yaml:/usr/share/nginx/html/openapi.yaml:ro
    environment:
      - SWAGGER_JSON=/usr/share/nginx/html/openapi.yaml

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: tinder_app
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: {}
